/******************************************/
/*=========     MEDIA-QUERIES    =========*/
/******************************************/






@media (min-width: 768px)
	// version SM
	
	#banner
		width: 100%

	#carousel
		
		img 
			width: 100%
			height: 50%
		

		h1
			font: 700 50px/50px $third-font
			text-transform: uppercase
			margin-bottom: 10px
		h2
			font: 400 italic 20px/22px $fourth-font
		
	
		
	.time-line
		&::before
			left: 50%
		li:nth-child(even)
			+clearfix
			.time-line-text
				float: right
				text-align: left
				padding: 0 50px 0 20px

	.time-line-img
		width: 120px
		height: 120px
		left: 50%
		margin-left: -60px

	.time-line-text
		width: 40%
		text-align: right
		padding: 0 20px 0 50px

@media (min-width: 992px)
	// version MD